@import "./styles/colors.css";
.App {
  background-color: var(--color-dark);
}
.ant-typography-secondary {
  color: var(--color-white) !important;
}
.ant-btn-link {
  color: var(--color-primary);
  font-size: var(--ant-font-size-heading-3);
  font-weight: var(--ant-font-weight-strong);
}
.ant-btn-link:hover {
  color: var(--color-primary) !important;
}

.follow-box .ant-typography {
  font-size: var(--text);
}

.follow-box > div {
  background: var(--color-dark);
  color: var(--color-white);
  padding: 8px;
  border-radius: 20px;
  width: fit-content;
}
