@import "../../styles/colors.css";

.section {
  padding: 32px;
}

.title {
  color: var(--color-white);
  font-size: vaØr(--sub-heading);
  font-weight: var(--sub-heading-semi-bold);
}

.ant-typography.collapse {
  color: var(--color-primary);
}

.ant-tabs-nav-list * {
  font-size: var(--sub-heading);
  font-weight: var(--sub-heading-semi-bold);
}
